/* I believe body styles are usually set in index.css, but I'm leaving them here for easier reviewing of this exercise */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
  margin: 0;
  background-color: #101010;
  font-family: 'Open Sans', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
}

.module {
  width: 900px;
  height: 500px;
  margin-top: 20px;
  overflow: scroll;
}

/* Not a very descriptive name, but it wraps the left and right sections of the screen */
#container {
  display: flex;
  background-color: #eee;
}

.screen {
  width: 100%;
}

#left {
  background-color: white;
}

#right {
  height: 500px;
  display: flex;
  align-items: center;
}

#header {
  padding: 0px 20px;
}

#header h1 {
  font-size: 24px;
}

.module p {
  font-size: 16px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #edeff0;
  padding: 0px 20px;
}

.menu-item:hover {
  background-color: #d4e2fe;
}

.selected {
  background-color: #d4e2fe;
}

.video-container {
  position: absolute;
}
